{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Disponibilités
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Le Spécialiste</th>
                        <th>Les Disponibilités</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Le Spécialiste</th>
                        <th hidden>Les Disponibilités</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for userBySpeciality in usersBySpeciality %}
                        <tr>
                            {# <td>{{ userBySpeciality.email }}</td> #}
                            <td><a href="{{path('user_profile', {'id':userBySpeciality.id})}}">{{ userBySpeciality.email }}</a></td>
                                <td>
                                    {% for appointment in userBySpeciality.appointments %}
                                        {% if (appointment.reservedBy == null) %}
                                            {% if (appointment.isVisio == true) %}
                                                <a href="{{path('admin_appointment_update', {'id':appointment.id})}}" type="button" class="btn btn-primary my-1">En visio <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }}</a>
                                            {% else %}
                                                <a href="{{path('admin_appointment_update', {'id':appointment.id})}}" type="button" class="btn btn-success my-1">En présentiel <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>   
                        </tr>
                    {% endfor %}
  
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>

    

{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll("[type=checkbox]")
            for(let button of activate) {
                button.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/ressource/activate/TOUPDATE${this.dataset.id}`)
                    xmlhttp.send() 
                })
            }

            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/ressource/delete/TOUPDATE${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cet article "${this.dataset.title}"`
                })
            }
        }
    </script>
{% endblock %}