{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Ajout ou Suppression d'un utilisateur
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Validé</th>
                        <th>Adresse</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Hopital</th>
                        <th>Medecin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Id</th>
                        <th hidden>Nom</th>
                        <th hidden>Prenom</th>
                        <th hidden>Email</th>
                        <th hidden>Roles</th>
                        <th hidden>Validé</th>
                        <th hidden>Adresse</th>
                        <th hidden>Code Postal</th>
                        <th hidden>Ville</th>
                        <th hidden>Téléphone</th>
                        <th hidden>Hopital</th>
                        <th hidden>Medecin</th>
                        <th hidden>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    
                    {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{ (user.lastname is defined) ? user.lastname : '' }}</td>
                            <td>{{ (user.firstname is defined) ? user.firstname : '' }}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.roles[0]}}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ user.id }}" data-id="{{ user.id }}" {{ user.isVerified ? 'checked' : null}}>
                                </div>
                            </td>
                            <td>{{ (user.address is defined) ? user.address : '' }}</td>
                            <td>{{ (user.zipcode is defined) ? user.zipcode : '' }}</td>
                            <td>{{ (user.city is defined) ? user.city : '' }}</td>
                            <td>{{ (user.phone is defined) ? user.phone : '' }}</td>
                            <td>{{ (user.hospital.name is defined) ? user.hospital.name : '' }}</td>
                            <td>{{ (user.doctor is defined) ? user.doctor : '' }}</td>
                            
                            <td>    
                                <a href="{{ path('admin_user_update', {id: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll("[type=checkbox]")
            for(let button of activate) {
                button.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/user/verify/${this.dataset.id}`)
                    xmlhttp.send() 
                })
            }
        }
    </script>
{% endblock %}