{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des categories</h1>
        <p class="mb-4">Ajout ou Suppression de categorie de ressources</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des categories</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Validé</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Téléphone</th>
                                <th>Hopital</th>
                                <th>Medecin</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th hidden>Id</th>
                                <th hidden>Email</th>
                                <th hidden>Roles</th>
                                <th hidden>Validé</th>
                                <th hidden>Nom</th>
                                <th hidden>Prenom</th>
                                <th hidden>Adresse</th>
                                <th hidden>Code Postal</th>
                                <th hidden>Ville</th>
                                <th hidden>Téléphone</th>
                                <th hidden>Hopital</th>
                                <th hidden>Medecin</th>
                                <th hidden>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                            {% for user in users %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.roles[0]}}</td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" name="active" id="customSwitch{{ user.id }}" data-id="{{ user.id }}" {{ user.isVerified ? 'checked' : null}}>
                                            <label class="custom-control-label" for="customSwitch{{ user.id }}"></label>
                                        </div>
                                    </td>
                                    <td>{{ (user.lastname is defined) ? user.lastname : '' }}</td>
                                    <td>{{ (user.firstname is defined) ? user.firstname : '' }}</td>
                                    <td>{{ (user.address is defined) ? user.address : '' }}</td>
                                    <td>{{ (user.zipcode is defined) ? user.zipcode : '' }}</td>
                                    <td>{{ (user.city is defined) ? user.city : '' }}</td>
                                    <td>{{ (user.phone is defined) ? user.phone : '' }}</td>
                                    <td>{{ (user['hospital'] is defined) ? user['hospital'] : '' }}</td>
                                    <td>{{ (user['doctor'] is defined) ? user['doctor'] : '' }}</td>
                                    
                                    <td>
                                        <a href="{{ path('admin_user_update', {id: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                        <a href="" class="btn btn-danger btn-sm modal-trigger" data-toggle="modal" data-target="#modalDelete" data-id="{{ user.id }}" data-title="{{ user.email }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer utilisateur</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>}


{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            console.log('Load !!!!')
            let activate = document.querySelectorAll("[type=checkbox]")
            console.log(activate)
            for(let button of activate) {
                console.log(button)
                button.addEventListener("click", function(){
                    // alert('clik!!')
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/user/verify/${this.dataset.id}`)
                    xmlhttp.send();
                    // console.log(xmlhttp)
                })
            }

            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/user/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cette ressource "${this.dataset.title}"`
                })
            }
        }
    </script>
{% endblock %}