{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des categories</h1>
        <p class="mb-4">Ajout ou Suppression de categorie de ressources</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des categories</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Validé</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Téléphone</th>
                                <th >Hopital</th>
                                <th >Medecin</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th hidden>Id</th>
                                <th hidden>Email</th>
                                <th hidden>Roles</th>
                                <th hidden>Validé</th>
                                <th hidden>Nom</th>
                                <th hidden>Prenom</th>
                                <th hidden>Adresse</th>
                                <th hidden>Code Postal</th>
                                <th hidden>Ville</th>
                                <th hidden>Téléphone</th>
                                <th hidden>Hopital</th>
                                <th hidden>Medecin</th>
                                <th hidden>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                            {% for user in users %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.roles[0]}}</td>
                                    <td>{{user.isVerified}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.address}}</td>
                                    <td>{{user.zipcode}}</td>
                                    <td>{{user.city}}</td>
                                    <td>{{user.phone}}</td>
                                    {# <td>{{user.hospital[0]}}</td>
                                    <td>{{user.doctor[0]}}</td> #}
                                    <td>{{user.phone}}</td>
                                    <td>{{user.phone}}</td>
                                    <td><a href="{{ path('admin_user_update', {id: user.id}) }}" class="btn btn-primary btn-sm">Modifier</a></td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}