{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
    
        <div class="almo-background-color">
            <div style="height: 15rem">
            </div>

            <div class="container">

                {% if (is_granted("ROLE_PATIENT") or is_granted("ROLE_ADMIN")) %}
                    <div class="row mb-5">
                        
                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_future') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous et mes activités prévus</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('webinar_index') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Les webinars à venir</h5>
                                        <img src="{{ asset('almo/img/webinar.png') }}">
                                        <p>Poser des questions</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_past') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous et mes activités passés</h5>
                                        <img src="{{ asset('almo/img/rdv.png') }}">
                                        <p>Donner mon avis</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('home') }}">
                                <div class="card almo-card-experiment">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title-experiment">Tout savoir sur l’expérimentation</h5>
                                        <p class="almo-card-p-experiment">A quoi ça sert ?<br> Qui participe ?<br> Comment ça marche ?<br> …</p>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                {% endif %}


                {% if (is_granted("ROLE_DOC") or is_granted("ROLE_PRO") or is_granted("ROLE_ADMIN")) %}
                    <div class="row mb-5">
                        
                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('appointment_future') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous à venir</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('appointment_create') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes disponibilités</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        <p>Gerer mes disponibilités</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('appointment_past') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous passés</h5>
                                        <img src="{{ asset('almo/img/rdv.png') }}">
                                        <p>Gerer mes comptes rendus</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                {% endif %}
                
            </div>
        </div>

        <div class="almo-background-color-article">            
            <div class="container">
                <div style="height: 2rem">
                </div>   
                <div class="row">
                    
                    <div class="section-title">
                        <h2>Nos derniers articles</h2>
                    </div>

                    
                        {% for article in articles %}
                            <div class="col-lg-4 col-md-6 mb-2">
                                <a href="{{ path('article_view', {slug: article.slug }) }}">
                                    <div class="card almo-card-article">
                                        <div class="card-body">
                                            <img src={{ article.image }} alt="" style="width: 100%">
                                            <h5 class="card-title almo-card-title">{{article.title}}</h5>
                                            <p class="card-text">{{ article.content | u.truncate(100, '...') | raw }}</p>
                                        </div>
                                        {# <div class="card-body">
                                            <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':article.user.id})}}">{{article.user.civility}} {{article.user.firstname}} {{article.user.lastname}}</a> {{article.createdAt | ago}}</p>
                                        </div> #}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    

                    <div class="d-flex justify-content-center my-5">
                        <a class="btn btn-primary text-uppercase" href="{{ path('article_index') }}">Afficher tout les articles</a>
                    </div>
                    {# <div style="height: 5rem">
                    </div> #}
                </div>
            </div>
        </div>

            
    {% else %}
        <div class="almo-background-color">
            <div style="height: 15rem">
            </div>
            <div class="container">
                <div class="text-center">
                    <img  src="{{ asset('almo/img/logo_home.png') }}">
                </div>
                <div>
                    <div class="text-center almo-intro1">
                        <br>
                        <p>{{ almo_intro_1.content | raw }}</p>
                        <p>______________</p>
                        <br>
                    </div>
                    <div class="text-left almo-intro2" >
                        <p>{{ almo_intro_2.content | raw }}</p>    
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    
{% endblock %}

{% block javascripts %}
{% endblock %}