{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <div class="container">
        <div style="height: 10rem">
        </div>

        

    
        {% if is_granted("ROLE_USER") %}
            <section id="services" class="services">
                
                <div class="section-title">
                    <h2>Nos derniers articles</h2>
                </div>

                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                <h4><a href="{{ path('article_view', {slug: article.slug }) }}">{{article.title}}</a></h4>
                                <img src={{ article.image }} alt="" style="width: 100%">
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                            </div>
                            <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':article.user.id})}}">{{article.user.civility}} {{article.user.firstname}} {{article.user.lastname}}</a> {{article.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('article_index') }}">Afficher tout les articles</a>
                </div>
            
            </section><!-- End Services Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                
                <div class="section-title">
                    <h2>Nos derniers documents</h2>
                </div>

                <div class="row">
                    {% for document in documents %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                <h4><a href="{{ path('document_view', {slug: document.slug }) }}">{{document.title}}</a></h4>
                                <img src={{ document.image }} alt="" style="width: 100%">
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                                
                            </div>
                            <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':document.user.id})}}">{{document.user.civility}} {{document.user.firstname}} {{document.user.lastname}}</a> {{document.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('document_index') }}">Afficher tout les documents</a>
                </div>
                
            </section><!-- End Services Section -->


            <!-- ======= Services Section ======= -->
            <section id="services" class="services">

                <div class="section-title">
                    <h2>Nos derniers webinars</h2>
                </div>

                <div class="row">
                    {% for webinar in webinars %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                <h4><a href="{{ path('webinar_view', {slug: webinar.slug }) }}">{{webinar.title}}</a></h4>
                                <img src={{ webinar.image }} alt="" style="width: 100%">
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                                
                            </div>
                            <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':webinar.user.id})}}">{{webinar.user.civility}} {{webinar.user.firstname}} {{webinar.user.lastname}}</a> {{webinar.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('webinar_index') }}">Afficher tout les webinars</a>
                </div>
                
            </section><!-- End Services Section -->
        {% else %}
            <section id="services" class="services">
                <div class="text-center">
                    <img  src="{{ asset('almo/img/logo_home.png') }}">
                </div>
                <div>
                    <div class="text-center almo-intro1">
                        <br>
                        <p>{{ almo_intro_1.content | raw }}</p>
                        <p>______________</p>
                        <br>
                    </div>
                    <div class="text-left almo-intro2" >
                        <p>{{ almo_intro_2.content | raw }}</p>    
                    </div>
                </div>
            </section><!-- End Services Section -->
        {% endif %}

    </div>

    
{% endblock %}

{% block javascripts %}
{% endblock %}