{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
    
        <div class="almo-background-color">
            <div style="height: 15rem">
            </div>

            <div class="container">

                {% if (is_granted("ROLE_PATIENT") or is_granted("ROLE_ADMIN")) %}
                    <div class="row mb-5">
                        
                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_future') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous et mes activités prévus</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_past') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous et mes activités passés</h5>
                                        <img src="{{ asset('almo/img/rdv.png') }}">
                                        <p>Donner mon avis</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('webinar_future') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Les webinars à venir</h5>
                                        <img src="{{ asset('almo/img/webinar.png') }}">
                                        <p>Poser des questions</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('webinar_past') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Les webinars passés</h5>
                                        <img src="{{ asset('almo/img/webinar.png') }}">
                                        <p>Visionner les webinars passés</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="row mb-5">
                        
                        <div class="col-lg-4 col-md-6 mb-2">
                            
                        </div>


                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('experiment') }}">
                                <div class="card almo-card-experiment">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title-experiment">Tout savoir sur l’expérimentation</h5>
                                        <p class="almo-card-p-experiment">A quoi ça sert ?<br> Qui participe ?<br> Comment ça marche ?<br> …</p>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>

                        
                        <div class="col-lg-4 col-md-6 mb-2">
                            
                        </div>

                    </div>
                {% endif %}


                {% if (is_granted("ROLE_DOC") or is_granted("ROLE_PRO") or is_granted("ROLE_ADMIN")) %}
                    <div class="row mb-5">
                        
                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_future') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous à venir</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        <p>Contacter les patients si besoin</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_past') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Mes rendez-vous passés</h5>
                                        <img src="{{ asset('almo/img/rdv.png') }}">
                                        <p>Gerer mes comptes rendus</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_create') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Créer mes disponibilités</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-2">
                            <a href="{{ path('appointment_list') }}">
                                <div class="card almo-card-quick-access">
                                    <div class="card-body">
                                        <h5 class="card-title almo-card-title">Voir mes disponibilités</h5>
                                        <img src="{{ asset('almo/img/calendar.png') }}">
                                        <p>Modifier, supprimer mes disponibilités</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        

                    </div>
                {% endif %}
                
            </div>
        </div>

        <div class="almo-background-color-article">            
            <div class="container">
                <div style="height: 2rem">
                </div>   
                <div class="row">
                    
                    <div class="section-title">
                        <h2>Nos derniers articles</h2>
                    </div>

                    
                        {% for article in articles %}
                            <div class="col-lg-4 col-md-6 mb-2">
                                <a href="{{ path('article_view', {slug: article.slug }) }}">
                                    <div class="card almo-card-article">
                                        <div class="card-body">
                                            <img src={{ article.image }} alt="" style="width: 100%">
                                            <h5 class="card-title almo-card-title">{{article.title}}</h5>
                                            <p class="card-text">{{ article.content | u.truncate(100, '...') | raw }}</p>
                                        </div>
                                        {# <div class="card-body">
                                            <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':article.user.id})}}">{{article.user.civility}} {{article.user.firstname}} {{article.user.lastname}}</a> {{article.createdAt | ago}}</p>
                                        </div> #}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    

                    <div class="d-flex justify-content-center my-5">
                        <a class="btn btn-primary text-uppercase" href="{{ path('article_index') }}">Afficher tout les articles</a>
                    </div>
                    {# <div style="height: 5rem">
                    </div> #}
                </div>
            </div>
        </div>

            
    {% else %}
        <div class="almo-background-color">
            {# <div style="height: 15rem">
            </div> #}
            <div class="container">
                
                <div class="text-center">
                    <img  src="{{ asset('almo/img/logo_home.png') }}">
                </div>
                
                <div>
                    <div class="text-center almo-intro1">
                        <br>
                        <p>{{ almo_intro_1.content | raw }}</p>
                        <p>______________</p>
                        <br>
                    </div>
                    <div class="text-left almo-intro2" >
                        <p>{{ almo_intro_2.content | raw }}</p>    
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                       
                        <h1 class="h3 mb-3 font-weight-normal almo-intro1">Connectez-vous ici:</h1>

                        <div class="row">
                            <div class="col-4">
                                <label for="inputEmail" class="almo-login">E-mail</label>
                                <input placeholder="email@provider.com" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded-pill almo-login-input" autocomplete="email" required autofocus>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-4">
                                <label for="inputPassword" class="almo-login">Mot de passe</label>
                                <input placeholder="************" type="password" name="password" id="inputPassword" class="form-control rounded-pill almo-login-input" autocomplete="current-password" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <br>
                        
                        <button class="btn btn-lg btn-secondary my-3" type="submit">S'identifier</button>
                        {# <a href="#" type="button" class="btn btn-primary">Connexion</a> #}
                        
                        <br>
                        <br>

                        <a class="almo-login" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>

                        <br>
                        <br>

                        <div class="row">
                            <div class="almo-intro1 col-4">Vous n'avez pas de d'identifiants et voulez </div> 
                            <div class="almo-intro1 col-3"><a href="{{ path('contact') }}" type="button" class="btn btn-info">NOUS CONTACTER, C'EST ICI!</a></div> 
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    {% endif %}


    
{% endblock %}

{% block javascripts %}
{% endblock %}