{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div style="height: 35rem; background-color: rgba(255,0,0,0.1);">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>Lorem Ipsum</h1>
                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."


                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur iaculis justo at tristique. Phasellus eget auctor risus. Sed vel nibh massa. Nam at neque a lacus rutrum placerat sed aliquam diam. Nam eu facilisis nisi, et lacinia mauris. Morbi hendrerit dui eget sem varius feugiat. Nam venenatis, sem non sollicitudin ultrices, odio lacus posuere ligula, ut cursus risus leo in sapien. Nullam sed sem risus. Vivamus congue leo eget lectus fringilla, sit amet sagittis ante volutpat. Nulla facilisi. Vestibulum at augue nulla. In massa mi, lacinia sit amet semper a, blandit quis neque. Aliquam a commodo dolor.

                        Ut odio leo, commodo quis ullamcorper nec, congue id sapien. Nam dignissim ut dolor et lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi condimentum placerat ex, ac consequat nisl sodales ut. Duis vel sem id elit vehicula interdum vel vitae orci. Sed a augue aliquet, rhoncus tellus quis, imperdiet sem. Suspendisse ut sapien arcu. Nam vehicula quam at lacus ornare tincidunt. Fusce euismod quam eget nisi blandit viverra. Sed vestibulum vitae dui tempus rhoncus. Donec sed nibh a mi elementum porta.

            </div>


        </div>

        

    </section><!-- End Services Section -->


    {% if is_granted("ROLE_USER") %}
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Les articles</h2>
                    <p>Les derniers articles postés</p>
                </div>

                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                {# <div class="icon"><i class="fas fa-heartbeat"></i></div> #}
                                <h4><a href="{{ path('article_view', {slug: article.slug }) }}">{{article.title}}</a></h4>
                                <img src={{ article.image }} alt="" style="width: 100%">
                                {# <img src='{{ asset('img/demo.jpg') }}' alt="" style="width: 100%"> #}
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                                
                            </div>
                            <p class="fs-6">Ecrit par {{article.user.email}} {{article.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('article_index') }}">Afficher tout les articles</a>
                </div>
            </div>
        </section><!-- End Services Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Les documents</h2>
                    <p>Les derniers documents mis à jour</p>
                </div>

                <div class="row">
                    {% for document in documents %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                {# <div class="icon"><i class="fas fa-heartbeat"></i></div> #}
                                <h4><a href="{{ path('document_view', {slug: document.slug }) }}">{{document.title}}</a></h4>
                                <img src={{ document.image }} alt="" style="width: 100%">
                                {# <img src='{{ asset('img/demo.jpg') }}' alt="" style="width: 100%"> #}
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                                
                            </div>
                            <p class="fs-6">Ecrit par {{document.user.email}} {{document.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('document_index') }}">Afficher tout les documents</a>
                </div>
            </div>
        </section><!-- End Services Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Les Webinars</h2>
                    <p>Les derniers webinars mis à jour</p>
                </div>

                <div class="row">
                    {% for webinar in webinars %}
                        <div class="col-lg-4 col-md-6" style="height: 35rem;">
                            <div class="icon-box">
                                {# <div class="icon"><i class="fas fa-heartbeat"></i></div> #}
                                <h4><a href="{{ path('webinar_view', {slug: webinar.slug }) }}">{{webinar.title}}</a></h4>
                                <img src={{ webinar.image }} alt="" style="width: 100%">
                                {# <img src='{{ asset('img/demo.jpg') }}' alt="" style="width: 100%"> #}
                                {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                                
                            </div>
                            <p class="fs-6">Ecrit par {{webinar.user.email}} {{webinar.createdAt | ago}}</p>
                        </div>
                    {% endfor %}

                </div>

                <div class="h-100 row align-items-center">
                    <a class="btn btn-primary text-uppercase" href="{{ path('webinar_index') }}">Afficher tout les webinars</a>
                </div>
            </div>
        </section><!-- End Services Section -->
    {% endif %}

    
{% endblock %}

{% block javascripts %}
{% endblock %}