{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des disponibilités</h1>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Le Spécialiste</th>
                        <th>Les Disponibilités</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Le Spécialiste</th>
                        <th hidden>Les Disponibilités</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for userBySpeciality in usersBySpeciality %}
                        <tr>
                            {# <td>{{ userBySpeciality.email }}</td> #}
                            <td><a href="{{path('user_profile', {'id':userBySpeciality.id})}}">{{ userBySpeciality.email }}</a></td>
                                <td>
                            {% for disponibility in userBySpeciality.disponibilities %}
                                {% if (disponibility.reservedBy == null) %}
                                    {% if (disponibility.isVisio == true) %}
                                        <a href="{{path('admin_disponibility_update', {'id':disponibility.id})}}" type="button" class="btn btn-primary my-1">En visio <br> {{ disponibility.startTime | date("Y/m/d") }} <br> {{ disponibility.startTime | date('H:i:s') }}  {{ disponibility.endTime | date('H:i:s') }}</a>
                                    {% else %}
                                        <a href="{{path('admin_disponibility_update', {'id':disponibility.id})}}" type="button" class="btn btn-success my-1">En présentiel <br> {{ disponibility.startTime | date("Y/m/d") }} <br> {{ disponibility.startTime | date('H:i:s') }}  {{ disponibility.endTime | date('H:i:s') }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                </td>   
                        </tr>
                    {% endfor %}
  
                </tbody>
            </table>
        </div>

    </div>
    <!-- /.container-fluid -->


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer utilisateur</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>}


{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            console.log('Load !!!!')
            let activate = document.querySelectorAll("[type=checkbox]")
            console.log(activate)
            for(let button of activate) {
                console.log(button)
                button.addEventListener("click", function(){
                    // alert('clik!!')
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/user/verify/${this.dataset.id}`)
                    xmlhttp.send();
                    // console.log(xmlhttp)
                })
            }

            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/user/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cette ressource "${this.dataset.title}"`
                })
            }
        }
    </script>
{% endblock %}