{% extends 'base.html.twig' %}

{% block title %}Les pratiques{% endblock %}

{% block body %}
    

    <div class="almo-background-color-article">            
        <div class="container">
            <div style="height: 15rem">
            </div>

            <div class="row">
                
                <div class="section-title">
                    <h2>Les pratiques</h2>
                </div>

                
                    {% for speciality in specialities %}
                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('speciality_view', {slug: speciality.slug }) }}">
                                <div class="card almo-card-article">
                                    <div class="card-body">
                                        <img src={{ speciality.image }} alt="" style="width: 100%">
                                        <h5 class="card-title almo-card-title">{{speciality.name}}</h5>
                                        <p class="card-text">{{ speciality.description | u.truncate(100, '...') | raw }}</p>
                                    </div>
                                    {# <div class="card-body">
                                        <p class="fs-6">Ecrit par <a href="{{path('user_biography', {'id':article.user.id})}}">{{article.user.civility}} {{article.user.firstname}} {{article.user.lastname}}</a> {{article.createdAt | ago}}</p>
                                    </div> #}
                                </div>
                            </a>
                        </div>
                    {% endfor %}

            </div>

             {{knp_pagination_render(specialities)}}
        </div>
    </div>

{% endblock %}
