{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div style="height: 30rem; background-color: rgba(255,0,0,0.1);">
    </div>

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Le Spécialiste</th>
                        <th>Les Disponibilités</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Le Spécialiste</th>
                        <th hidden>Les Disponibilités</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for userBySpeciality in usersBySpeciality %}
                        <tr>
                            {# <td>{{ userBySpeciality.email }}</td> #}
                            <td><a href="{{path('user_profile', {'id':userBySpeciality.id})}}">{{ userBySpeciality.email }}</a></td>
                                <td>
                            {% for appointment in userBySpeciality.disponibilities %}
                                {% if (appointment.reservedBy == null) %}
                                    {% if (appointment.isVisio == true) %}
                                        <a href="{{path('user_reservation_add', {'id':appointment.id})}}" type="button" class="btn btn-primary my-1">En visio <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }}  {{ appointment.endTime | date('H:i:s') }}</a>
                                    {% else %}
                                        <a href="{{path('user_reservation_add', {'id':appointment.id})}}" type="button" class="btn btn-success my-1">En présentiel <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }}  {{ appointment.endTime | date('H:i:s') }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                                </td>   
                        </tr>
                    {% endfor %}
  
                </tbody>
            </table>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    
{% endblock %}
