{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="almo-background-color-article">
        <div class="container">
        
            {# <div style="height: 10rem">
            </div> #}

            <section id="services" class="services">
                <div style="height: 100%; ">
                    <h1 class="text-center">{{usersBySpeciality[0].speciality.name}}</h1>
                    {{usersBySpeciality[0].speciality.description}}    
                </div>
            </section><!-- End Services Section -->

            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">

                
                {% for userBySpeciality in usersBySpeciality %}
                    <div class="row">
                        <div class="col-3 almo-rdv-datetime">
                            <a href="{{path('user_biography', {'id':userBySpeciality.id})}}">{{ userBySpeciality.civility }} {{ userBySpeciality.firstname }} {{ userBySpeciality.lastname }}</a>
                        </div>
                        <div class="col-9">
                            {% for appointment in userBySpeciality.appointments %}
                                {% if (appointment.reservedBy == null) %}
                                    {% if (appointment.isVisio == true) %}
                                        <a href="{{path('appointment_add', {'id':appointment.id})}}" type="button" class="btn btn-primary my-1">En visio <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }} </a>
                                    {% else %}
                                        <a href="{{path('appointment_add', {'id':appointment.id})}}" type="button" class="btn btn-success my-1">En présentiel <br> {{ appointment.startTime | date("Y/m/d") }} <br> {{ appointment.startTime | date('H:i:s') }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="almo-hr">
                        <hr>
                    </div>      
                {% endfor %}
        
                        
            
            </section><!-- End Breadcrumbs Section -->

        </div>

        <div style="height: 10rem">
        </div>
    </div>

    

{% endblock %}
