{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Webinars categories
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Parent</th>
                        <th>Nom</th>
                        <th>Sluge</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Id</th>
                        <th hidden>Parent</th>
                        <th hidden>Nom</th>
                        <th hidden>Sluge</th>
                        <th hidden>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    
                    {% for webinarCategory in webinarCategories %}
                        <tr>
                            <td>{{webinarCategory.id}}</td>
                            <td>{{webinarCategory.parent}}</td>
                            <td>{{webinarCategory.name}}</td>
                            <td>{{webinarCategory.slug}}</td>
                            <td>
                                <a href="{{ path('admin_webinar_category_update', {id: webinarCategory.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <a href="" class="btn btn-danger btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ webinarCategory.id }}" data-title="{{ webinarCategory.name }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/webinar_category/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cette categorie "${this.dataset.title}"`
                })
            }
        }
    </script>
{% endblock %}