{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Categorie</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Id</th>
                        <th hidden>Titre</th>
                        <th hidden>Categorie</th>
                        <th hidden>Auteur</th>
                        <th hidden>Date</th>
                        <th hidden>Active</th>
                        <th hidden>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    
                    {% for ressource in ressources %}
                        <tr>
                            <td>{{ressource.id}}</td>
                            <td>{{ressource.title}}</td>
                            <td>{{ressource.ressourceCategory}}</td>
                            <td>{{ressource.user.email}}</td>
                            <td>{{ressource.createdAt | date}}</td>
                            {# <td>{{ressource.active}}</td> #}
                            
                            
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ ressource.id }}" data-id="{{ ressource.id }}" {{ ressource.active ? 'checked' : null}}>
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('admin_ressource_update', {id: ressource.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                                <a href="" class="btn btn-danger btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ ressource.id }}" data-title="{{ ressource.title }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll("[type=checkbox]")
            for(let button of activate) {
                button.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/ressource/activate/${this.dataset.id}`)
                    xmlhttp.send() 
                })
            }

            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/admin/ressource/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cet article "${this.dataset.title}"`
                })
            }
        }
    </script>
{% endblock %}