{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous et activités prévus{% endblock %}

{% block body %}

    <div class="almo-background-color-article">
        {# <div style="height: 15rem">
        </div> #}
        
        <div class="container"> 
            <div class="row">
                    <div class="almo-title-section">
                        <img src="{{ asset('almo/img/pictos/calendar.png') }}" height="50%"> Mes rendez-vous et activités prévus
                    </div>
            </div>

            

            {% for reservation in reservations %}
                {# {{ dump(reservation.createdBy.address) }} #}
                <div class="row">
                    <div class="col-2 almo-rdv-datetime">
                        {# {{ reservation.startTime | date("l dS F") }} #}
                        {{ reservation.startTime | format_datetime(locale='fr',pattern="EEEE dd MMMM") | capitalize}}
                    </div>
                    <div class="col-1 almo-rdv-datetime">
                        {{ reservation.startTime | date("H") }}h{{ reservation.startTime | date("i") }}
                        {# {{ reservation.startTime | localizeddate("H") }} h {{ reservation.startTime | date("m") }} #}
                    </div>
                    <div class="col-2 almo-rdv-content">
                        {{ reservation.name }}
                    </div>
                    <div class="col-3 almo-rdv-content">
                        {% if (is_granted("ROLE_DOC") or is_granted("ROLE_PRO")) %}
                            <img src="{{ asset('almo/img/pictos/rdv_pro.png') }}"> <a href="{{path('user_biography', {'id':reservation.reservedBy.id})}}">{{ reservation.reservedBy.civility }} {{ reservation.reservedBy.firstname }} {{ reservation.reservedBy.lastname }}</a>
                        {% endif %}
                        {% if (is_granted("ROLE_PATIENT")) %}
                            <img src="{{ asset('almo/img/pictos/rdv_pro.png') }}"> <a href="{{path('user_biography', {'id':reservation.createdBy.id})}}">{{ reservation.createdBy.civility }} {{ reservation.createdBy.firstname }} {{ reservation.createdBy.lastname }}</a>
                        {% endif %}
                    </div>
                    <div class="col-2 almo-rdv-content-italic">
                        {% if (reservation.isVisio == true) %}
                            Téléconsultation 
                        {% else %}
                            En présentiel 
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {% if (reservation.isVisio == true) %}
                            <div class="row">
                                <a href="{{ reservation.createdBy.visioLink }}" type="button" class="btn btn-secondary">ME CONNECTER</a>
                            </div>
                        {% else %}
                            <div class="almo-rdv-datetime">
                                {{ reservation.createdBy.address }} <br> {{ reservation.createdBy.zipcode }} {{ reservation.createdBy.city }}
                            </div>
                        {% endif %}
                        <div class="row">    
                            <a href="{{ path('appointment_change', {'id':reservation.id}) }}" type="button" class="btn btn-primary">REPORTER CE RV</a>
                        </div>
                        <div class="row">
                            <a href="" class="btn btn-danger modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ reservation.id }}" data-name="{{ reservation.name }}">ANNULER CE RV</a>
                        </div>
                        <div class="row">
                            <a href="{{ path('message_appointment', {'id':reservation.id}) }}" type="button" class="btn btn-primary">ENVOYER UN MESSAGE</a>
                        </div>
                    </div>
                </div>
                <div class="row almo-message-background">
                    {% for message in reservation.messages %}
                        <div class="col-4 almo-rdv-content-italic">
                            {{ message.sender }} le {{ message.createdAt | format_datetime(locale='fr',pattern="EEEE dd MMMM") | capitalize}} à {{ message.createdAt | date("H") }}h{{ message.createdAt | date("i") }}
                        </div>    
                        <div class="col-6 almo-rdv-content">
                            {{ message.content }}
                        </div>
                    {% endfor %}
                </div>
                <div class="almo-hr">
                    <hr>
                </div>  
            {% endfor %}

            {% for webinar in webinars %}
                <div class="row">
                    <div class="col-2 almo-rdv-datetime">
                        {{ webinar.startTime | format_datetime(locale='fr',pattern="EEEE dd MMMM") | capitalize}}
                    </div>
                    <div class="col-1 almo-rdv-datetime">
                        {{ webinar.startTime | date("H") }}h{{ webinar.startTime | date("i") }}
                    </div>
                    <div class="col-2 almo-rdv-content">
                        {{ webinar.title }}
                    </div>
                    <div class="col-3 almo-rdv-content">
                        {% if (is_granted("ROLE_DOC") or is_granted("ROLE_PRO")) %}
                            <img src="{{ asset('almo/img/pictos/rdv_pro.png') }}"> <a href="{{path('user_biography', {'id':webinar.reservedBy.id})}}">{{ webinar.reservedBy.civility }} {{ webinar.reservedBy.firstname }} {{ webinar.reservedBy.lastname }}</a>
                        {% endif %}
                        {% if (is_granted("ROLE_PATIENT")) %}
                            <img src="{{ asset('almo/img/pictos/rdv_pro.png') }}"> <a href="{{path('user_biography', {'id':webinar.user.id})}}">{{ webinar.user.civility }} {{ webinar.user.firstname }} {{ webinar.user.lastname }}</a>
                        {% endif %}
                    </div>
                    <div class="col-2 almo-rdv-content-italic">
                        A distance 
                    </div>
                    <div class="col-2">
                        
                        <div class="row">
                            <a href="{{ webinar.user.visioLink }}" type="button" class="btn btn-secondary">ME CONNECTER</a>
                        </div>
                        
                        
                    </div>
                </div>
                
                <div class="almo-hr">
                    <hr>
                </div>  
            {% endfor %}
        </div>

        <div style="height: 15rem">
        </div>
    </div>
            
        
    


    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Annuler un RV</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Confirmer</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            
            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    console.log(`${this.dataset}`)
                    document.querySelector(".modal-footer a").href=`/appointment/delete/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cette ressource "${this.dataset.name}"`
                })
            }
        }
    </script>
{% endblock %}