<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Base{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{ asset('medialab/assets/img/favicon.png') }}" rel="icon">
        <link href="{{ asset('medialab/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CRaleway:300,300i,400,400i,500,500i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('medialab/assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('medialab/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset('medialab/assets/css/style.css') }}" rel="stylesheet">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel= "stylesheet" type= "text/css" href= "{{ asset('chatbot/css/style.css') }}">
        <!--Main css-->
        {# <link rel= "stylesheet" type= "text/css" href= "{{ asset('chatbot/css/materialize.min.css') }}"> #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->

        

        {% block stylesheets %}
        {% endblock %}

       

    </head>
    <body>

        {% include 'shared/_header.html.twig' %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% include 'shared/_footer.html.twig' %}

        <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
		{% block javascripts %}{% endblock %}
		<script>

    </body>
</html>
