{% extends 'base.html.twig' %}

{% block title %}Les Documents{% endblock %}

{% block body %}
    <div class="container">

        <div style="height: 10rem">
        </div>
    
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="section-title">
                <h2>Les documents</h2>
            </div>

            <div class="row">
                {% for document in documents %}
                    <div class="col-lg-4 col-md-6" style="height: 35rem;">
                        <div class="icon-box">
                            <h4><a href="{{ path('document_view', {slug: document.slug }) }}">{{document.title}}</a></h4>
                            <img src={{ document.image }} alt="" style="width: 100%">
                            {# <p>{{Document.content | u.truncate(150, '...') | raw}}</p> #}
                            
                        </div>
                        <p class="fs-6">Ecrit par {{document.user.email}} {{document.createdAt | ago}}</p>
                    </div>
                {% endfor %}

            </div>

        </section><!-- End Services Section -->

        {{knp_pagination_render(documents)}}
    </div>

{% endblock %}
