{% extends 'base.html.twig' %}

{% block title %}Les Documents{% endblock %}

{% block body %}
    {# <div style="height: 30rem; background-color: rgba(255,0,0,0.1);">
    </div> #}

    <div style="height: 10rem">
    </div>
    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Les Documents</h2>
                <p>Tout les Documents</p>
            </div>

            <div class="row">
                {% for document in documents %}
                    <div class="col-lg-4 col-md-6" style="height: 35rem;">
                        <div class="icon-box">
                            {# <div class="icon"><i class="fas fa-heartbeat"></i></div> #}
                            <h4><a href="{{ path('document_view', {slug: document.slug }) }}">{{document.title}}</a></h4>
                            <img src={{ document.image }} alt="" style="width: 100%">
                            {# <img src='{{ asset('img/demo.jpg') }}' alt="" style="width: 100%"> #}
                            {# <p>{{Document.content | u.truncate(150, '...') | raw}}</p> #}
                            
                        </div>
                        <p class="fs-6">Ecrit par {{document.user.email}} {{document.createdAt | ago}}</p>
                    </div>
                {% endfor %}

            </div>

            {{knp_pagination_render(documents)}}
        </div>
    </section><!-- End Services Section -->

{% endblock %}
