<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        <li><a class="nav-link scrollto " href="{{ path('home') }}">ACCUEIL</a></li>
        
        {% if not is_granted("ROLE_USER") %}
            <li><a class="nav-link scrollto" href="{{ path('app_register') }}">ENREGISTREMENT</a></li>
            <li><a class="nav-link scrollto" href="{{ path('app_login') }}">CONNEXION</a></li>
        {% else %}
            {% if (is_granted("ROLE_PATIENT") or is_granted("ROLE_ADMIN")) %}
                <li><a class="nav-link scrollto" href="{{ path('experiment') }}">TOUT SAVOIR SUR L’EXPERIMENTATION</a></li>
                <li class="dropdown"><a class="nav-link scrollto" href="#"><span>MES RV & ACTIVITES</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="{{ path('speciality_index') }}">PRENDRE RV</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('appointment_future') }}">MES RV ET ACTIVITES PREVUS</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('appointment_past') }}">MES RV ET ACTIVITES PASSES</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if (is_granted("ROLE_DOC") or is_granted("ROLE_PRO") or is_granted("ROLE_ADMIN")) %}
                <li class="dropdown"><a class="nav-link scrollto" href="#"><span>MES RV</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="{{ path('appointment_create') }}">CREER UNE DISPO</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('appointment_future') }}">MES RV PREVUS</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('appointment_past') }}">MES RV PASSES</a></li>
                    </ul>
                </li>
            {% endif %}
            <li><a class="nav-link scrollto" href="{{ path('user_profile') }}">MON PROFIL</a></li>
            <li><a class="nav-link scrollto" href="{{ path('app_logout') }}">DECONNEXION</a></li>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <li><a class="nav-link scrollto" href="{{ path('admin_home') }}">ADMIN</a></li>
        {% endif %}

        <li><a class="nav-link scrollto" href="{{ path('contact') }}">CONTACTER L'EQUIPE</a></li>

    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
