{% extends 'base.html.twig' %}

{% block title %}Les webinars{% endblock %}

{% block body %}



    <div class="almo-background-color-article">            
        <div class="container">
            {# <div style="height: 15rem">
            </div> #}

            <div class="row">
                
                <div class="section-title">
                    <h2>Les webinars</h2>
                </div>

                
                    {% for webinar in webinars %}
                        <div class="col-lg-4 col-md-6 mb-2">
                            <a href="{{ path('webinar_view', {slug: webinar.slug }) }}">
                                <div class="card almo-card-article">
                                    <div class="card-body">
                                        <img src={{ webinar.image }} alt="" style="width: 100%">
                                        <h5 class="card-title almo-card-title">{{webinar.title}}</h5>
                                        <p class="card-text">{{ webinar.content | u.truncate(100, '...') | raw }}</p>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    {% endfor %}

            </div>

            {{knp_pagination_render(webinars)}}

            <div style="height: 15rem">
            </div>
        </div>
    </div>

{% endblock %}
