{% extends 'base.html.twig' %}

{% block title %}{{webinar.title}}{% endblock %}

{% block body %}
    <div class="almo-background-color-article">
        <div class="container">
        
            <div style="height: 10rem">
            </div>

            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">

                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fw-bold">{{webinar.title}}</h2>
                    <ol>
                        <li><a href="{{path('webinar_index')}}">Retour à la liste des webinars</a></li>
                        <li>{{webinar.title}}</li>
                    </ol>
                </div>

            </section><!-- End Breadcrumbs Section -->

            <section class="inner-page">
                <p style="height: 100%; ">{{webinar.content | raw}} </p>
                <p class="fs-6">Crée par <a href="{{path('user_biography', {'id':webinar.user.id})}}">{{webinar.user.civility}} {{webinar.user.firstname}} {{webinar.user.lastname}}</a> {{webinar.createdAt | ago}}</p>
            </section>
        
        </div>
    </div>


    
{% endblock %}
