{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}

{% block body %}
    
    <div class="container">

        <div style="height: 10rem">
        </div>

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="section-title">
                <h2>Les articles</h2>
            </div>

            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-4 col-md-6" style="height: 35rem;">
                        <div class="icon-box">
                            <h4><a href="{{ path('article_view', {slug: article.slug }) }}">{{article.title}}</a></h4>
                            <img src={{ article.image }} alt="" style="width: 100%">
                            {# <p>{{article.content | u.truncate(150, '...') | raw}}</p> #}
                            
                        </div>
                        <p class="fs-6">Ecrit par {{article.user.email}} {{article.createdAt | ago}}</p>
                    </div>
                {% endfor %}

            </div>

        </section><!-- End Services Section -->

        {{knp_pagination_render(articles)}}
    
    </div>
{% endblock %}
