{% extends 'base.html.twig' %}

{% block title %}{{user.civility}} {{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}

    {# {{dump(user)}} #}

    <div class="container">
    
        <div style="height: 10rem">
        </div>

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="section-title">
                <h2>Profil utilisateur de {{user.civility}} {{user.firstname}} {{user.lastname}}</h2>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th hidden>Field</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th hidden>Field</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        
                        <tr>
                            <td>Nom : {{ (user.lastname is defined) ? user.lastname : '' }}</td>
                        </tr>
                        <tr>
                            <td>Prenom : {{ (user.firstname is defined) ? user.firstname : '' }}</td>
                        </tr>
                        <tr>
                            <td>Email : {{ (user.email is defined) ? user.email : '' }}</td>
                        </tr>
                        <tr>
                            <td>Adresse : {{ (user.address is defined) ? user.address : '' }}</td>
                        </tr>
                        <tr>
                            <td>Code Postal : {{ (user.zipcode is defined) ? user.zipcode : '' }}</td>
                        </tr>
                        <tr>
                            <td>Ville : {{ (user.city is defined) ? user.city : '' }}</td>
                        </tr>
                        <tr>
                            <td>Téléphone : {{ (user.phone is defined) ? user.phone : '' }}</td>
                        </tr>
                        {% if (is_granted("ROLE_PATIENT") or is_granted("ROLE_DOC")) %}
                            <tr>
                                <td>Hopital : {{ (user.hospital.name is defined) ? user.hospital.name : '' }}</td>
                            </tr>
                        {% endif %}
                        {% if (is_granted("ROLE_PATIENT")) %}
                            <tr>
                                <td>Medecin Traitant : {{ (user.doctor.civility is defined) ? user.doctor.civility : '' }} {{ (user.doctor.firstname is defined) ? user.doctor.firstname : '' }} {{ (user.doctor.lastname is defined) ? user.doctor.lastname : '' }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Détails :{{ (user.details is defined) ? (user.details | raw) : '' }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('user_update') }}" class="btn btn-primary btn-sm">Modifier</a>
                            </td>
                        </tr>
                            
                        
                        
                    </tbody>
                </table>
            </div>


        </section><!-- End Services Section -->


    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}