{% extends 'base.html.twig' %}

{% block title %}{{user.civility}} {{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}

    {# {{dump(user)}} #}

    <div class="almo-background-color-article">            
        <div class="container">
            {# <div style="height: 15rem">
            </div> #}


            <div class="section-title">
                <h2>Mon Profil</h2>
                <div class="col-2">
                    <a href="{{ path('user_update') }}" class="btn btn-primary btn-sm">MODIFIER MON PROFILE</a>
                </div>
            </div>

            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Nom
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.lastname is defined) ? user.lastname : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Prenom
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.firstname is defined) ? user.firstname : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Email
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.email is defined) ? user.email : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Téléphone
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.phone is defined) ? user.phone : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Adresse
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.address is defined) ? user.address : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Code Postal
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.zipcode is defined) ? user.zipcode : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Ville
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.city is defined) ? user.city : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}
            <div style="height: 1rem">
            </div>

            {% if (is_granted("ROLE_PATIENT") or is_granted("ROLE_DOC")) %}
                <div class="row">
                    <div class="col-2 almo-rdv-datetime">
                        Hopital
                    </div>
                    <div class="col-10 almo-rdv-content">
                        {{ (user.hospital.name is defined) ? user.hospital.name : '' }}
                    </div>
                </div>
                {# <div class="almo-hr">
                    <hr>
                </div>   #}
                <div style="height: 1rem">
                </div>
            {% endif %}

            {% if (is_granted("ROLE_PATIENT")) %}
                <div class="row">
                    <div class="col-2 almo-rdv-datetime">
                        Medecin Traitant
                    </div>
                    <div class="col-10 almo-rdv-content">
                        {{ (user.doctor.civility is defined) ? user.doctor.civility : '' }} {{ (user.doctor.firstname is defined) ? user.doctor.firstname : '' }} {{ (user.doctor.lastname is defined) ? user.doctor.lastname : '' }}
                    </div>
                </div>
                {# <div class="almo-hr">
                    <hr>
                </div>   #}
                <div style="height: 1rem">
                </div>
            {% endif %}

            <div class="row">
                <div class="col-2 almo-rdv-datetime">
                    Informations complémentaires
                </div>
                <div class="col-10 almo-rdv-content">
                    {{ (user.details is defined) ? user.details : '' }}
                </div>
            </div>
            {# <div class="almo-hr">
                <hr>
            </div>   #}

            
            <div style="height: 15rem">
            </div>


        

        </div>
    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}