{% extends 'base.html.twig' %}

{% block title %}Les disponibilités{% endblock %}

{% block body %}

    {# <div style="height: 30rem; background-color: rgba(255,0,0,0.1);">
    </div> #}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Les disponibilités</h2>
            </div>

            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mes rendez-vous</th>
                        <th>Le spécialiste</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th hidden>Mes rendez-vous</th>
                        <th hidden>Le spécialiste</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for reservation in reservations %}
                        {# {{ dump(reservation) }} #}
                        <tr>
                            <td><a href="{{path('user_reservation_view', {'id':reservation.id})}}" type="button" class="btn btn-primary">{{ reservation.startTime | date("Y/m/d") }}  {{ reservation.startTime | date('H:i:s') }}  {{ reservation.endTime | date('H:i:s') }}</a></td>
                            <td>{{ reservation.createdBy }}</td>
                        </tr>
                    {% endfor %}
  
                </tbody>
            </table>
        </div>

        </div>

        

    </section><!-- End Services Section -->




{% endblock %}


{% block javascripts %}
{% endblock %}